<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>MH</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form action='/add_rss/' method='get'>
                <div class="row">
                    <legend>添加订阅</legend>
                    <div class="col-md-8">
                        <input class="form-control" id="uid_url" name="uid_url" type="text">
                    </div>
                    <div class="col-md-4">
                        <button class="btn success" type="submit">添加</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1">
            <form action='/update_rss_all/' method='get'>
                <div class="row">
                    <legend>全部更新</legend>
                    <div class="col-md-8">
                        <button class="btn success_info" type="submit">更新</button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <table class="table table-bordered table-hover">
                {% for i in comics_list %}
                    <tr>
                        <td>{{ i.uid }}</td>
                        <td>{{ i.tittle }}</td>
                        <td><a href="{{i.look_url}}" type="button">LOOK</a></td>
                        <td><a href="{{i.down_url}}" type="button">DOWN</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <p class="text-primary bg-success" style="font-size:30px">{{ msg_text }}</p>
        </div>
    </div>
</div>
</body>
</html>